<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <h2>Your Shopping Cart</h2>

        <div th:each="cartItem : ${cart}">
            <div class="cart-item">
                <h3 th:text="${cartItem.product.name}"></h3>
                <p th:text="${cartItem.product.description}"></p>
                <img th:src="@{/images/{imageName}(imageName=${cartItem.product.imageURL})}" alt="">
                <div class="cart-actions">
                    <span th:text="'Quantity: ' + ${cartItem.quantity}"></span>
                    <button th:onclick="'removeItem(\'' + ${cartItem.product.ProductId} + '\')'">Remove</button>
                </div>

<!--                <p th:text="'Price: $' + ${cartItem.product.price}"></p>-->
            </div>
        </div>


        <div class="cart-summary">
            <h3>Cart Summary</h3>
<!--            <p th:text="'Total: $' + ${cart.totalAmount}"></p>-->

            <button th:onclick="'checkout()'">Checkout</button>
            <button th:onclick="'continueShopping()'">Continue Shopping</button>

        </div>
    </div>
</div>

<script>
        function removeItem(productId) {
            alert('Item removed: ' + productId);
        }

        function checkout() {
            alert('Proceeding to checkout');
        }

        function continueShopping() {
            alert('Continuing shopping');
        }

    </script>
</body>
</html>
