<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thogwa Medicals: Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="img/Thogwa medicals project/Thogwa Medicals logo .jpg" href="/img/images/medical-logo.jpg">

    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/odometer.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/slick.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{'css/login.css'}">


</head>
<body>

<!-- Preloader -->
<div id="preloader">
    <img src="img/logo/preloader.gif" alt="">
</div>
<!-- Preloader-end -->

<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->

<!-- header-area -->
<header>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="header-top-area">
                        <div class="header-top-left-text">
                            <p>We provides <span>Best</span> medical accessories</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-top-right-text">
                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/contact">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BOOTSTRAP MODAL -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <section id="login-section">
                    <div class="input-group" id="reset-pass">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span style="padding: 10px;" aria-hidden="true">&times;</span>
                        </button>
                        <div class="login-info">
                            <h1>Reset Password</h1>
                            <div class="inputs">
                                <div class="colm">
                                    <label for="email-el">Username/Email:</label>
                                    <input type="email" placeholder="Enter an Email you wish to reset password for..." id="email-reset">
                                </div>

                                <div class="btn-log">
                                    <button onclick="ResetPaaswprd()">Submit</button>
                                </div>
                            </div>

                            <div class="sign-up">
                                <p>You can use the link below to sign in:</p>
                                <a href="#" onclick="Login_switch()">Sign In</a>

                                <div class="link-icons">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-group" id="log_in">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span style="padding: 10px;" aria-hidden="true">&times;</span>
                        </button>
                        <div class="login-info">

                            <form action="/login/customer" method="get">

                                <h1>Login</h1>
                                <div class="inputs">
                                    <div class="colm">
                                        <label for="email-el">Username/Email:</label>
                                        <input type="email" placeholder="Enter your Email..." id="email-el" name="username">
                                    </div>
                                    <div class="colm">
                                        <label for="password-el">Password:</label>
                                        <input type="password" placeholder="Enter your Password..." id="password-el" name="password">
                                    </div>
                                    <div class="forgot">
                                        <a href="#" class="forgot-password">Forgot Password?</a>
                                    </div>

                                    <div class="btn-log">
                                        <!-- Update the button click event -->
                                        <button type="submit">Login</button>
                                    </div>
                                </div>
                            </form>

                            <div class="sign-up">
                                <p>Or Sign Up using the link below:</p>
                                <a href="#" class="register-button">Sign Up</a>

                                <div class="link-icons">
                                    <i class="fa-brands fa-facebook"></i>
                                    <i class="fa-brands fa-twitter"></i>
                                    <i class="fa-brands fa-instagram"></i>
                                    <i class="fa-brands fa-whatsapp"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="input-group" id="register">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span style="padding: 10px;" aria-hidden="true">&times;</span>
                        </button>

                        <div class="login-info">
                            <form th:action="@{/add/customer}" method="post">
                                <h1>Register</h1>
                                <div class="inputs">
                                    <div class="colm">
                                        <label for="email-el">Name(s):</label>
                                        <input type="text" placeholder="Enter your Name(s)..." id="myName" name="firstName">
                                    </div>
                                    <div class="colm">
                                        <label for="surname">Last Name:</label>
                                        <input type="text" placeholder="Enter your Last Name..." id="surname" name="lastName">
                                    </div>
                                    <div class="colm">
                                        <label for="email">Email:</label>
                                        <input type="email" placeholder="Enter your Email..." id="email" name="username">
                                    </div>
                                    <div class="colm">
                                        <label for="psw">Choose Password:</label>
                                        <input type="password" placeholder="Enter your Password..." id="psw" name="password">
                                    </div>

                                    <div class="btn-log">
                                        <button type="submit">Submit</button>
                                    </div>
                                </div>

                                <div class="sign-up">
                                    <p>Or Sign In using the link below:</p>
                                    <a href="#"class="login-button" onclick="Login_switch()">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
    <!-- MODAL END -->
    <div id="sticky-header" class="menu-area">
        <div class="container">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
                <nav class="menu-nav">
                    <div class="row align-items-center">
                        <div class="col-lg-5 d-none d-lg-block">
                            <div class="navbar-wrap main-menu d-none d-lg-flex">
                                <ul class="navigation">
                                    <li><a href="/">Home</a></li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="/about">About Us</a></li>

                                            <li><a href="/contact">Contact Us</a></li>
                                            <li><a href="/latest-News">Latest News</a></li>
                                        </ul>
                                    </li>
                                    <!-- <li class="active menu-item-has-children"><a href="shop.html">Shop</a> -->
                                    <ul class="sub-menu">

                                    </ul>
                                    </li>
                                    <li><a href="#" data-toggle="modal" data-target="#exampleModal">Sign In</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3">
                            <div class="logo">
                                <a th:href="@{/}">
                                    <img th:src="@{'img/Thogwa medicals project/Thogwa Medicals logo .jpg'}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-9">
                            <div class="header-action">
                                <ul>
                                    <li class="header-search">
                                        <form th:action="@{/product/search}" method="get">
                                            <button type="submit"><i class="fas fa-search"></i></button>
                                            <input type="text"  name="name" placeholder="Search for products" th:value="${name}">
                                        </form>
                                        <!--                                                <form th:action="@{/product/search}" method="get">-->
                                        <!--                                                    <input type="text" name="name" placeholder="Search ..." th:value="${name}">-->
                                        <!--                                                    <button type="submit"><i class="fa fa-search"></i></button>-->
                                        <!--                                                </form>-->
                                    </li>
                                    <li class="header-user d-none d-md-block">
                                        <a href="/contact"><i class="far fa-user"></i></a>
                                    </li>
                                    <li class="header-shop-cart d-none d-md-flex">
                                        <a href="#">
                                            <img src="img/icon/shape-img.png" alt="">
                                            <span class="cart-count">0</span>
                                        </a>
                                        <span class="cart-price">R0.00</span>
                                        <ul id="minicart" class="minicart"  style="overflow-y: auto; max-height: 627.725px;">

                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <nav class="menu-box">
                    <div class="close-btn"><i class="fas fa-times"></i></div>
                    <div class="nav-logo"><a href="/"><img src="img/logo/Thogwa Medicals logo .jpg" alt="" title=""></a>
                    </div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="menu-backdrop"></div>
            <!-- End Mobile Menu -->
        </div>
    </div>
    <div class="header-category d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-category-wrap">
                        <div class="header-cat-list">
                            <ul>
                                <li ><a href="/shop">MEDICAL EQUIPMENT</a>
                                    <div class="dropdown">
                                        <div class="row main-dropdown">
                                            <div class="col-md-4 box drop1">
                                                <ul>
                                                    <li><a href="#">Aesthetics & Lasers</a></li>
                                                    <li><a href="#">Decontamination & Sterilization Equipment</a></li>
                                                    <li><a href="#">Dental Equipment & Instruments</a></li>
                                                    <li><a href="#">Endoscope</a></li>
                                                    <li><a href="#">Infant Care</a></li>
                                                    <li><a href="#">Emergency Bags / Doctor Cases</a></li>
                                                    <li><a href="#">Lighting/Luminaries</a></li>


                                                </ul>
                                            </div>
                                            <div class="col-md-4 box drop2">
                                                <ul>
                                                    <li><a href="#">Machine Systems</a></li>
                                                    <li><a href="#">Medical Furniture</a></li>
                                                    <li><a href="#">Medical Instruments</a></li>
                                                    <li><a href="#">Patient Monitoring Devices</a></li>
                                                    <li><a href="#">Sunction & Infusion Pumps</a></li>
                                                    <li><a href="#">Respiratory & Life Support</a></li>
                                                    <li><a href="#">Suture & Sealing Devices</a></li>


                                                </ul>
                                            </div>
                                            <div class="col-md-4 box drop3">
                                                <ul>
                                                    <li><a href="#">Parent Tranfer/Mobility</a></li>
                                                    <li><a href="#">Compretion Devices</a></li>
                                                    <li><a href="#">Physiotherapy & Rehabilitation</a></li>
                                                    <li><a href="#">Training Equipment</a></li>
                                                    <li><a href="#">Implants & Prosthetics</a></li>
                                                    <li><a href="#">ENT Devices & Equipment</a></li>
                                                    <li><a href="#">Orthopedic Devices & Equipment</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div></li>

                                </li>
                                <li><a href="/shop">DENTAL EQUIPMENT</a>
                                    <ul class="dropdown">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                    </ul></li>
                                <li><a href="/shop">PHARMACEUTICALS</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Drugs</a></li>
                                        <li><a href="#">Pharmaceutical Equipment</a></li>
                                        <li><a href="#">Vitamin & Supplements</a></li>
                                        <li><a href="#">Alternative & Herbal Products</a></li>
                                    </ul></li></li>
                                <li><a href="/shop">INFECTION CONTROL</a>
                                    <ul class="dropdown">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                    </ul></li>
                                <li><a href="/shop">LABORATORY</a>
                                    <div class="dropdown" style="left: 30%">
                                        <div class=" row main-dropdown">
                                            <div class="col-md-4 box drop1">
                                                <ul>
                                                    <li><a href="#">Analysers</a></li>
                                                    <li><a href="#">Autoclaves</a></li>
                                                    <li><a href="#">Balance</a></li>
                                                    <li><a href="#">Baths and Circulators</a></li>
                                                    <li><a href="#">Biosafety Cabinets</a></li>
                                                    <li><a href="#">Centrifuges</a></li>
                                                    <li><a href="#">Chromatography</a></li>
                                                    <li><a href="#">Microscopes</a></li>
                                                    <li><a href="#">Lab Refrigerator Freezer Combination</a></li>
                                                    <li><a href="#">Lab Shakers and 3 D Rockers
                                                    </a></li>
                                                    <li><a href="#">Laminar Air Flow Cabinet</a></li>
                                                    <li><a href="#">Media Dispensing System</a></li>
                                                    <li><a href="#">Microplate Reader</a></li>
                                                    <li><a href="#">Microplate Washer</a></li>
                                                    <li><a href="#">Water Testing</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-4 line"></div>

                                            <div class="col-md-4 box drop2">
                                                <ul>
                                                    <li><a href="#">CO2 Incubator</a></li>
                                                    <li><a href="#">Electrophoresis</a></li>
                                                    <li><a href="#">ELISA Reader</a></li>
                                                    <li><a href="#">Fluorometre</a></li>
                                                    <li><a href="#">Fume Hoods</a></li>
                                                    <li><a href="#">Gel Documentation</a></li>
                                                    <li><a href="#">Furnace</a></li>
                                                    <li><a href="#">Lab Freezer</a></li>
                                                    <li><a href="#">Oven</a></li>
                                                    <li><a href="#">Mixers and Vortexes</a></li>
                                                    <li><a href="#">Peristaltic Pump</a></li>
                                                    <li><a href="#">Refractometers</a></li>
                                                    <li><a href="#">Platelet Incubator And Agitator
                                                    </a></li>
                                                    <li><a href="#">Refregirators</a></li>
                                                    <li><a href="#">Water Distiller</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 box drop3">
                                                <ul>
                                                    <li><a href="#">Glassware Washing Machine</a></li>
                                                    <li><a href="#">Heating Mantle</a></li>
                                                    <li><a href="#">Hotplate Stirrers</a></li>
                                                    <li><a href="#">Hotplate</a></li>
                                                    <li><a href="#">Incubator</a></li>
                                                    <li><a href="#">HPLC</a></li>
                                                    <li><a href="#">Kjeldahl Systems</a></li>
                                                    <li><a href="#">Water Purification Systems</a></li>
                                                    <li><a href="#">Rotary Evaporators</a></li>
                                                    <li><a href="#">Test Chambers</a></li>
                                                    <li><a href="#">Spectrophotometer</a></li>
                                                    <li><a href="#">Thermal Cyclers</a></li>
                                                    <li><a href="#">Thermometers</a></li>
                                                    <li><a href="#">Ultrasonic Cleaners
                                                    </a></li>
                                                    <li><a href="#">Vacuum Pumps</a></li>
                                                    <li><a href="#">Viscometers</a></li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div></li>
                                <li><a href="/shop">MEDICAL IMAGING</a>
                                    <div class="dropdown" style="left: 30%">
                                        <div class="row main-dropdown">
                                            <div class="col-md-4 box drop1">
                                                <ul>
                                                    <li><a href="#">CT</a></li>
                                                    <li><a href="#">EEG</a></li>
                                                    <li><a href="#">EKG</a></li>
                                                    <li><a href="#">MRI</a></li>


                                                </ul>
                                            </div>
                                            <div class="col-md-4 box drop2">
                                                <ul>
                                                    <li><a href="#">X-Ray</a></li>
                                                    <li><a href="#">Digital Imaging</a></li>
                                                    <li><a href="#">Dark Room Equipment & Supply</a></li>
                                                    <li><a href="#">Quality Assurance & Safety Contro</a></li>

                                                </ul>
                                            </div>
                                            <div class="col-md-4 box drop2">
                                                <ul>
                                                    <li><a href="#">ECG / EKG</a></li>
                                                    <li><a href="#">PET</a></li>
                                                    <li><a href="#">Ultrasound</a></li>
                                                    <li><a href="#">Nuclear Medicine</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div></li>
                            </ul>
                        </div>
                        <div class="header-category-btn">
                            <a href="/shop">GET 5% OFF NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-area-end -->


<!-- main-area -->
<main>

    <!-- breadcrumb-area -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <!-- shop-area -->
    <div class="shop-area shop-inner-page pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3 order-2 order-lg-0">
                    <aside class="shop-sidebar">
                        <div class="widget">
                            <div class="sidebar-search">
                                <form th:action="@{/product/search}" method="get">
                                    <input type="text" name="name" placeholder="Search ..." th:value="${name}">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="sidebar-title">Category</h4>
                            <div class="shop-cat-list">
                                <ul th:each="category : ${categoryList}">
                                    <li>
                                        <a th:href="@{/product/find-products/{categoryId}(categoryId=${category.id})}" class="btn1" th:text="${category.categoryName}"><span>+</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget">
                            <h4 class="sidebar-title">Top Brand</h4>
                            <div class="shop-brand-list">
                                <ul>
                                    <li><a href="/shop">Medication</a></li>
                                    <li><a href="/shop">Carnation</a></li>
                                    <li><a href="/shop">Suppke</a></li>
                                    <li><a href="/shop">WeBeyond</a></li>
                                    <li><a href="/shop">Edstudy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="sidebar-title">Filter by Price</h4>
                            <div class="price_filter">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <span>Price :</span>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                    <input type="submit" class="btn" value="Filter">
                                </div>
                            </div>

                        </div>
                        <div class="widget shop-widget-banner">
                            <a href="/shop"><img src="img/products/shop_add.jpg" alt=""></a>
                        </div>
                    </aside>
                </div>
                <div class="col-9">
                    <div class="shop-wrap">
                        <h4 class="title">Shop</h4>
                        <div class="shop-page-meta mb-30">
                            <div class="shop-grid-menu">
                                <ul>
                                    <li class="active"><a href="#"><i class="fas fa-th"></i></a></li>
                                    <li><a href="#"><i class="fas fa-list"></i></a></li>
                                </ul>
                            </div>
                            <div class="shop-showing-result">
                                <p>Total Items 1-12 of 13</p>
                            </div>
                            <div class="shop-show-list">
                                <form action="#">
                                    <label for="show">Show</label>
                                    <select id="show" class="selected">
                                        <option value="">08</option>
                                        <option value="">12</option>
                                        <option value="">16</option>
                                        <option value="">18</option>
                                        <option value="">20</option>
                                    </select>
                                </form>
                            </div>
                            <div class="shop-short-by">
                                <form id="filterForm"  method="get" th:action="@{/product/product}" th:object="${product}">
                                    <label for="shortBy">Sort By</label>
                                    <select id="shortBy" class="selected" name="sort" onchange="submitForm()">
                                        <option value="latest">Sort by latest</option>
                                        <option value="lower-price">Low to high</option>
                                        <option value="higher-price">High to low</option>
                                        <option value="popularity">Popularity</option>
                                    </select>
                                </form>


                            </div>
                        </div>
                        <div class="row justify-content-center">

                            <div class="col" th:each="product : ${products}">
                                <div class="shop-item mb-45">
                                    <div class="shop-thumb">
                                        <img th:src="@{/images//{imageName}(imageName=${product.imageURL})}" alt="">

                                    </div>
                                    <div class="shop-content">
                                        <!--                                                <span class="cat" th:text="${product.category.categoryName}"></span>-->
                                        <h5 class="title"><a href="/shop-details" th:text="${product.name}"></a></h5>
                                        <div class="shop-item-rating">
                                            <span class="avg-rating" >4.5<i class="far fa-star" ></i></span>
                                            <span class="total-rating">349 Ratings</span>
                                        </div>
                                        <th:block th:if="${product.offPercentage > 0}">
                                            <p class="shop-discount">MRP <del th:text="'R' + ${product.price}"></del> <span class="discount-off" th:text="${product.offPercentage} + '% OFF'"></span></p>
                                        </th:block>
                                        <div class="shop-bottom">
                                            <ul>
                                                <!-- Check if offPercentage is greater than 0 -->
                                                <th:block th:if="${product.offPercentage > 0}">
                                                    <li class="price" th:text="'R' + ${product.specialPrice}"></li>
                                                </th:block>

                                                <!-- Optionally, render something else when offPercentage is not greater than 0 -->
                                                <th:block th:unless="${product.offPercentage > 0}">
                                                    <li class="price" th:text="'R' + ${product.price}"></li>
                                                </th:block>


                                                <a >
                                                    <!-- Content of the link, e.g., image, text, etc. -->
                                                    <li class="add">
                                                        <a th:href="@{/product/shop-details/{productId}(productId=${product.productId})}"
                                                           th:onclick="'addToCart(' + ${product.productId} + ')'">
                                                            ADD +
                                                        </a>
                                                    </li>
                                                </a>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="shop-page-meta">
                                <div class="shop-grid-menu">
                                    <ul>
                                        <li class="active"><a href="#"><i class="fas fa-th"></i></a></li>
                                        <li><a href="#"><i class="fas fa-list"></i></a></li>
                                    </ul>
                                </div>
                                <div class="shop-showing-result">
                                    <p>Total Items 1- [[${totalItems}]] of [[${totalItems}]]</p>
                                </div>
                                <div class="shop-show-list">
                                    <form action="#">
                                        <label for="bottomShow">Show</label>
                                        <select id="bottomShow" class="selected">
                                            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                                    th:selected="${pageSize} == ${selectedPageSize}"></option>
                                        </select>
                                    </form>
                                </div>
                                <div class="shop-pagination">
                                    <ul th:if="${totalPages  != 1}">
                                        <li th:class="${products.number == 0} ? disabled">
                                            <a class="pageLink" th:href="@{/product/parameter(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                        </li>
                                        <li th:class="${products.number == 0} ? disabled">
                                            <a class="pageLink" th:href="@{/product/parameter(pageSize=${selectedPageSize}, page=${products.number})}">&larr;</a>
                                        </li>
                                        <li th:class="${products.number == (page - 1)} ? 'active pointer-disabled'"
                                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                            <a class="pageLink" th:href="@{/product/parameter(pageSize=${selectedPageSize}, page=${page})}"
                                               th:text="${page}"></a>
                                        </li>
                                        <li th:class="${products.number + 1 == products.totalPages} ? disabled">
                                            <a class="pageLink"
                                               th:href="@{/product/parameter(pageSize=${selectedPageSize}, page=${products.number + 2})}">&rarr;</a>
                                        </li>
                                        <li th:class="${products.number + 1 == products.totalPages} ? disabled">
                                            <a class="pageLink"
                                               th:href="@{/product/parameter(pageSize=${selectedPageSize}, page=${products.totalPages})}">&raquo;</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop-area-end -->

    <!-- core-features-area -->
    <section class="core-features-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="core-features-item mb-30">
                        <div class="core-features-icon">
                            <img th:src="@{img/icon/delivery.png}" alt="">
                        </div>
                        <div class="core-features-content">
                            <h4 class="title">Home Delivery</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-features-item mb-30">
                        <div class="core-features-icon">
                            <img src="img/icon/return.png" alt="">
                        </div>
                        <div class="core-features-content">
                            <h4 class="title">Click and Pick</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-features-item mb-30">
                        <div class="core-features-icon">
                            <img src="img/icon/headphone.png" alt="">
                        </div>
                        <div class="core-features-content">
                            <h4 class="title">Quality Support</h4>
                            <p>Product Delivery is a customer-centric approach to defining.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- core-features-area-end -->
    <div id="searchResultsContainer">
        <!-- The search results will be dynamically added here -->
    </div>

</main>
<!-- main-area-end -->

<!-- footer-area -->
<footer>
    <div class="footer-top-wrap">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8">
                    <div class="footer-widget">
                        <div class="fw-img">
                            <img src="img/Thogwa medicals project/Thogwa Medicals logo .jpg" alt="">
                        </div>
                        <div class="fw-link">
                            <p>We are a proudly South African company that is strategically positioned to cater to the country, by supplying quality medical and pharmaceutical equipment while empowering black communities through job creation and skill development.</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-widget">
                        <h4 class="fw-title">Quick Links:</h4>
                        <div class="fw-link">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="#">Private Policy</a></li>

                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-4 col-lg-4 col-md-8 col-sm-8 cont">
                    <div class="footer-widget">
                        <h4 class="fw-title">Contact Us</h4>
                        <div class="fw-link">
                            <div class="content">
                                <p><strong>Office: </strong>+27 (12) 023 0791
                                </p>
                                <p><strong>Mobile: </strong>+27 (61) 418 7600</p>
                            </div>
                            <div class="content">
                                <p><strong>Email: </strong>admin@thogwamedicals.com
                                </p>
                                <p><strong>Alternative Email: </strong>rendani@thogwamedicals.com</p>
                            </div>
                            <div class="content">
                                <p><strong>Address:</strong> Tiger Valley Office Park, Suite 1, Building 88D, Silver lakes Road, Pretoria, 0081
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-widget">
                        <h4 class="fw-title">Subscribe Our Newsletter</h4>
                        <div class="f-newsletter">
                            <p>Get a free subscription to our latest news</p>
                            <form action="#" class="newsletter-form">
                                <input type="text" placeholder="Enter Your Email Address">
                                <button><i class="fas fa-rocket"></i></button>
                            </form>
                        </div>
                        <div class="fw-download-btn">
                            <a href="#"><img src="img/icon/download_btn01.png" alt=""></a>
                            <a href="#"><img src="img/icon/download_btn02.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-counter-wrap">
            <div class="row">
                <div class="col-12">
                    <div class="fcw-title text-center mb-45">
                        <h4 class="title">world LARGEST medicals and pharmacueticals PLATFORM</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="160"></span>M+</h2>
                        <p>Visitors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="27"></span>M+</h2>
                        <p>Orders Delivered</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="190"></span>K+</h2>
                        <p>Cities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="copyright-text">
                        <p>Copyright © 20231 MACT TECH. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-method-img text-center text-md-right">
                        <img src="img/images/card.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-area-end -->

<!-- JS here -->
<script th:src="@{/js/vendor/jquery-3.5.0.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/isotope.pkgd.min.js}"></script>
<script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.odometer.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/js/jquery.inview.min.js}"></script>
<script th:src="@{/js/jquery.appear.js}"></script>
<script th:src="@{/js/slick.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/ajax-form.js}"></script>
<script th:src="@{/js/wow.min.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/plugins.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:inline="javascript">
            var cartData = localStorage.getItem('order');
            if (cartData) {
                cartData = JSON.parse(cartData);
                console.log(cartData);
            }

            function displayCart() {
                var minicart = document.getElementById('minicart');
                var cartCount = document.querySelector('.cart-count');
                var cartPrice = document.querySelector('.cart-price');
                console.log();
                minicart.innerHTML = '';
                var totalQuantity = 0;
                var totalPrice = 0;

                cartData.forEach(function(item) {
                    var listItem = document.createElement('li');
                    listItem.classList.add('d-flex', 'align-items-start');


                    var totalItemPrice = parseFloat(item.product) * parseInt(item.quantity);

                    listItem.innerHTML = `
                        <div class="cart-img">
                            <a href="#"><img src="/img/products/${item.productImageName}" alt=""></a>
                        </div>
                        <div class="cart-content">
                            <h4><a href="#">${item.productName}</a></h4>
                            <div class="cart-price">
                                <span class="new">R${item.product} x ${item.quantity}</span>
                                <span>Total: R${totalItemPrice.toFixed(2)}</span>
                            </div>
                        </div>
                        <div class="del-icon">
                            <a href="#" onclick="deleteItem('${item.productID}')"><i class="far fa-trash-alt"></i></a>
                        </div>
                    `;

                    minicart.appendChild(listItem);

                    totalQuantity += parseInt(item.quantity);
                    totalPrice += totalItemPrice;
                });


                var totalItem = document.createElement('li');
                totalItem.innerHTML = `
                    <div class="total-price">
                        <span class="f-left">Total:</span>
                        <span class="f-right">R${totalPrice.toFixed(2)}</span>
                    </div>
                `;

                var checkoutItem = document.createElement('li');
                checkoutItem.innerHTML = `
                    <div class="checkout-link">
                        <a href="#">Shopping Cart</a>
                        <a class="black-color" th:href=@"{/checkout}" id="checkoutLink">Checkout</a>
                    </div>
                `;

                minicart.appendChild(totalItem);
                minicart.appendChild(checkoutItem);


                cartCount.textContent = totalQuantity;
                cartPrice.textContent = `R${totalPrice.toFixed(2)}`;
            }

            displayCart();

            function deleteItem(productID) {

                let index = cartData.findIndex(item => item.productID === productID);


                if (index !== -1) {
                    cartData.splice(index, 1);


                    localStorage.setItem('order', JSON.stringify(cartData));


                    displayCart();
                }
            }

        </script>
<script>  // Add click event listener to the "Checkout" link
        document.getElementById('checkoutLink').addEventListener('click', function(event) {
        // Prevent the default behavior of the link (e.g., navigating to a new page)
        event.preventDefault();

        // Redirect to the checkout page
        window.location.href = '/checkout';
        });</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="js/log-res.js"></script>

<!--<script>-->
<!--  $(document).ready(function () {-->
<!--    const searchForm = $('.sidebar-search form');-->
<!--    const searchInput = $('.sidebar-search input');-->
<!--    const searchResultsContainer = $('#searchResultsContainer');-->

<!--    searchForm.submit(function (event) {-->
<!--        event.preventDefault();-->

<!--        const searchTerm = searchInput.val().trim();-->

<!--        if (searchTerm !== '') {-->
<!--            const endpoint = `/public/products/keyword/${encodeURIComponent(searchTerm)}`;-->

<!--            $.ajax({-->
<!--                type: 'GET',-->
<!--                url: endpoint,-->
<!--                success: function (data) {-->
<!--                   -->
<!--                    searchResultsContainer.empty();-->

<!--                  -->
<!--                    if (data.content.length > 0) {-->
<!--                        -->
<!--                        data.content.forEach(function (product) {-->
<!--                            const resultItem = `<div class="search-result">-->
<!--                                <img src="${product.imageURL}" alt="${product.name}">-->
<!--                                <h3>${product.name}</h3>-->
<!--                                <p>${product.description}</p>-->
<!--                                <p>Price: $${product.price}</p>-->
<!--                            </div>`;-->

<!--                    -->
<!--                            searchResultsContainer.append(resultItem);-->
<!--                        });-->
<!--                    } else {-->
<!--             -->
<!--                        searchResultsContainer.html('<p>No results found.</p>');-->
<!--                    }-->
<!--                },-->
<!--                error: function (xhr, status, error) {-->
<!--                    console.error(error);-->
<!--                }-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--});-->

<!--</script>-->
<script>
    function submitForm() {
        document.getElementById("filterForm").submit();
    }
</script>
<!--        <script>-->
<!--    function sign_up() {-->
<!--        // Get user input values-->
<!--        var firstName = document.getElementById("myName").value;-->
<!--        var lastName = document.getElementById("surname").value;-->
<!--        var username = document.getElementById("email").value;-->
<!--        var password = document.getElementById("psw").value;-->

<!--        // Create a JSON object with the user input-->
<!--        var customerData = {-->
<!--            "firstName": firstName,-->
<!--            "lastName": lastName,-->
<!--            "username": username,-->
<!--            "password": password-->
<!--            // Add other fields as needed-->
<!--        };-->


<!--         fetch('/add/customer', {-->
<!--                method: 'POST',-->
<!--                headers: {-->
<!--                    'Content-Type': 'application/json'-->
<!--                },-->
<!--                body: JSON.stringify(customerData)-->
<!--            })-->
<!--            .then(response => {-->
<!--                if (!response.ok) {-->
<!--                    throw new Error('Network response was not ok');-->
<!--                }-->
<!--                return response.json();-->
<!--            })-->
<!--            .then(data => {-->

<!--                alert('Signup successful!');-->
<!--            })-->
<!--            .catch(error => {-->
<!--    // Hide loading indicator-->
<!--    // ...-->

<!--    console.error('There was a problem with the fetch operation:', error);-->
<!--    if (error instanceof TypeError) {-->
<!--        alert('Network error. Please check your internet connection.');-->
<!--    } else {-->
<!--        alert('Signup failed. Please try again later.');-->
<!--    }-->
<!--});-->
<!--    }-->
</script>



</body>
</html>
